/* 
color pallete:
	#BF9FB9
	#4B2D45
	#73726B
	#9FB7BF
	#656F73

font-family: 'DynaPuff', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

* {
	margin: 0;
	border: 0;
	outline: none;
	box-shadow: none;
 	text-decoration: none;
}

p, a, h1, h2, h3, label, input {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}